/* Сброс */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
* {
	margin: 0;
	padding: 0;
    -ms-user-select: none;   
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
}
a:active, a:focus { outline: none; }
.clearfix:after {content: ""; display: table; clear: both;}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}
html { min-width: 320px; display: flex; background: url(../images/background.png) 50% 50% fixed #ddcdb4; background-size: cover}
body { min-height: 100%; background: #FAFAFA;font-family: 'Caveat', cursive;}
html, html a { -webkit-font-smoothing: antialiased; }
li{list-style-type: none;}
a{text-decoration: none;}


.wrapper{position: absolute; top:0; left:0; width: 100%; height: 100%; background-color: transparent; overflow: auto;}
.header{position: relative; top:0; left:0; width: 100%; height: 20%; background-color: transparent;}
.text-block h1{font-family: 'Pacifico', cursive; font-size: 22pt; padding: 10px; color: #86714f;  text-align: center;text-decoration: underline 4px}
.text-block p{font-family: 'Caveat', cursive;font-size: 12pt;color: #86714f;text-decoration: none; margin-top: -15px; padding: 0px}
.text-block{width: 500px; height: auto; position: relative; border: solid 1px #86714f; border-radius: 40px; margin: 0 auto;margin-top: 20px; cursor: default;}
#ytplayer{opacity: 0.5;border-radius: 40px;}
.ytplayer{margin: 0 auto; width:720px; height:405px;  position: relative; border-radius: 40px;box-shadow: 0px 0px 60px #000000;}
.backgroundyt{box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.3); border-radius: 40px;width: 100%; height: 100%; position: absolute; top: 0; left: 0;}

.table-cell{border-color: #86714f; border-style: solid; border-width: 1px; font-size: 16pt}
.content{background-color: rgba(255, 255, 255, 0.1); max-width: 80%; height: auto; margin: 0 auto; display: block; position: relative; margin-bottom: 150px;font-size: 24pt;box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.53);}
.table-post{font-size: 16pt}
.navigation{font-size: 16pt}

#preloader>p{display:none;}
#preloader_preload{display: block;position: fixed;z-index: 99999;top: 0;left: 0;width: 100%;height: 100%;min-width: 1000px;background: #86714f url(../images/tail-spin.svg) center center no-repeat;background-size:147px;}

.scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:50px;
right:100px;
    z-index: 999;
cursor: pointer;
text-indent:-9999px;
background: url('icon_top.png') no-repeat;
}

.butsclear  {
clear:both;
content:"";
display:block;
height:0;
font-size:0;
visibility:hidden;} 
.allbuts {display:block;float:left;}
.buttons{
font-size: 13px;  
font-weight: bold;         		
padding:5px;           
display:block;
float:left;
}
.allbuts a { height:32px ;width:32px; display:block; float:left; padding-right:20px;} 
.buttons .allbuts a div{
border: none;
opacity:1.0;                 /* непрозрачность: 100% */
}
 
.buttons .allbuts a:hover div{
border: none;
opacity:0.7;                 /* непрозрачность: 70% */
}
.buts32 {
background: url(/plugins/content/rusbuttons/set2-32.png) no-repeat;
width:32px;
height:32px;
float:left;
display:block;
}
#ibuts2 {background-position:-32px 0px;}
#ibuts3 {background-position:-64px 0px;}
#ibuts4 {background-position:-96px 0px;}
#ibuts5 {background-position:-128px 0px;}
#ibuts6 {background-position:-160px 0px;}
#ibuts7 {background-position:-192px 0px;}
#ibuts8 {background-position:-224px 0px;}
#ibuts9 {background-position:-256px 0px;}
div.butscopy {font-size:8px; display:block;float:right; clear:left; }
div.butscopy a {color:lightgray;}
div.butscopy a:hover {color:gray;}





